@model Example.ViewModels.ChangePasswordViewModel
<h2>Change password for @Model.Email</h2>
<div class="alert alert-info" id="message">
    @Model.Result
</div>

<form asp-action="ChangePassword" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <div class="col-md-3 mb-3">
            <label asp-for="NewPassword">New password</label><br />
            <input class="form-control" asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="NewPasswordConfirm">Confirm new password</label><br />
            <input class="form-control" asp-for="NewPasswordConfirm" />
            <span asp-validation-for="NewPasswordConfirm"></span>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Change" />
    </div>
</form>