@using Microsoft.AspNetCore.Identity
@using Example.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar nav-tabs navbar-fixed-top">
        <div class="container">
            <div class="form-inline nav-item">
                <a href="/home" class="btn">Home</a>
                <button class="btn" id="newsItem">
                    News
                </button>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="form-inline nav-item">
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn" href="/roles">Change Roles</a>
                    }
                    <a class="btn" href="/home/chat">Chat</a>
                    <button class="btn" id="dataItem">
                        View Data
                    </button>
                    <a class="btn" id="userInput" href="/account/account">@User.Identity.Name</a>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input class="btn" type="submit" value="Logout" />
                    </form>
                </div>
            }
            else
            {
                <div class="form-inline nav-item">
                    <form class="navbar-toggler" method="get" asp-controller="Account" asp-action="Register">
                        <input class="btn" type="submit" value="Register" />
                    </form>
                    <form class="navbar-toggler" method="get" asp-controller="Account" asp-action="Login">
                        <input class="btn" type="submit" value="Login" />
                    </form>
                </div>
            }
        </div>
    </nav>

    <div class="container body-content">
        <div id="body">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>
                Copyright &copy; 2020 <a href="https://github.com/dnk363">Denis Gulyaev</a>
            </p>
        </footer>
    </div>
    <script src="~/Main.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
