@using Microsoft.AspNetCore.Identity
@using Example.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @if (SignInManager.IsSignedIn(User))
            {
                <button class="navbar-toggler" id="dataItem" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    View Data
                </button>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="Выход" />
                </form>
            }
            else
            {
                <form method="post" asp-controller="Account" asp-action="Register">
                    <input type="submit" value="Register" />
                </form>
                <form method="post" asp-controller="Account" asp-action="Login">
                    <input type="submit" value="Login" />
                </form>
            }
        </div>
    </nav>

    <div class="container body-content">
        <div id="body">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>
                Copyright &copy; 2020 <a href="https://github.com/dnk363">Denis Gulyaev</a>
            </p>
        </footer>
    </div>
    <script src="~/Main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
